<div class="container">
    <h2 class="text-center mt-3">Editing Post</h2>
    <div class="row mt-3">
        <div class="col"></div>

        <div class="col-6">
            <%= render 'form', post: @post %>
        </div>

        <div class="col"></div>
    </div>
</div>
